extends page

append contents
    .wrapper.section: .container.slim: .box#form
        .field
            label.label
                span.has-text-danger *&nbsp;
                | 팀명 (비워두면 팀장 이름으로 채워집니다.)
            .control
                input.input(name='teamName', placeholder=user.name, value=name)
        .field
            label.label
                span.has-text-danger *&nbsp;
                | 팀장
            .field.is-grouped
                .control.is-expanded
                    input.input(name='serial', value=user.serial, disabled)
                .control.is-expanded
                    input.input.is-disabled(name='leaderName', value=user.name, disabled)
                .control.is-expanded
                    input.input(name='contact', value=contact, placeholder='연락처')
        .field#followers
            label.label 팀원
            if followers && followers.length > 0
                each follower in followers
                    .field.is-grouped.follower
                        .control.is-expanded
                            input.input.is-expanded(placeholder='학번', value=follower.id)
                        .control.is-expanded
                            input.input(placeholder='이름', value=follower.name)
                        .control.is-expanded
                            input.input(placeholder='연락처', value=follower.contact)
                        .control
                            button.button.is-danger.is-outlined.remove-btn(type='button') 삭제
            else
                each _ in [0, 1]
                    .field.is-grouped.follower
                        .control.is-expanded
                            input.input(placeholder='학번')
                        .control.is-expanded
                            input.input(placeholder='이름')
                        .control.is-expanded
                            input.input(placeholder='연락처')
                        .control
                            button.button.is-danger.is-outlined.remove-btn(type='button') 삭제
            .field
                .control
                    button.button#add-followers-btn(type='button') 팀원 추가
        .field
            label.label
                span.has-text-danger *&nbsp;
                | 개발요약서
            .field.is-grouped.form-field
                .control
                    .file.has-name
                        label.file-label
                            input.file-input#formfile(type='file', name='form_file')
                            span.file-cta
                                span.file-icon
                                    i.fa.fa-upload
                                span.file-label
                                    | 파일 선택
                            span.file-name#formfile-name
                if formfile
                    .control
                        a.button(href=`/download/form/${user.serial}`) 이전 제출 파일 다운로드
        .field.form-field
            label.label 소스코드 제출
            .field.is-grouped.form-field
                .control
                    .file.has-name
                        label.file-label
                            input.file-input#sourcefile(type='file', name='source_file')
                            span.file-cta
                                span.file-icon
                                    i.fa.fa-upload
                                span.file-label
                                    | 파일 선택
                            span.file-name#sourcefile-name
                if sourcefile
                    .control
                        a.button(href=`/download/source/${user.serial}`) 이전 제출 파일 다운로드
        .field
            label.label 메모
            .control
                textarea.textarea(name='description')= description
        .field
            .control
                label.checkbox
                    input(type='checkbox')
                    |  개인정보 수집 및 이용에 동의합니다.
        .field.has-text-danger
            p * 가 붙은 항목을 완성해야 최종 접수됨.
            p
                strong(style='color: #ff3860') 주의 : 
                | 사전신청을 하지 않았다면 
                a(href='https://docs.google.com/forms/d/1MpYMqj3lIC_KZMgWz-QBEup0WmzBhcKpRacfZxzClxE/edit') 이곳에서 
                | 설문조사를 반드시 완료해주세요.
        .field.has-text-centered#message
            p &nbsp;
        .field.is-grouped.is-grouped-centered
            .control
                button.button.is-primary#save-btn 저장
            .control
                .button.is-light#delete-btn 신청 삭제
append script
    script(src='/submit.bundle.js')
