extends layout

append body
    header: include navbar
    .hero#main-hero
        .hero-body
            .container.has-text-centered(style='top: -7rem;')
                p.title.has-text-white 2018 창의 IT 공모전
                p.subtitle.has-text-white 11월 17일 ~ 12월 17일
                if isPeriod
                    a.button.is-large#submit-link-btn(href='/submit') 신청하기
                else
                    a.button.is-large.is-disabled#submit-link-btn 신청하기
    section.has-text-centered.is-flex#notice: .container.slim#notice-container
        h2.subtitle.is-size-2 공지사항
        each notice in notices
            if notice.pinned
                .box
                    article.media
                        .media-left
                            figure.image.is-64x64
                                img(src='/logo.png')
                        .media-content
                            .content
                                p
                                    strong 관리자 
                                    br
                                    | #{notice.message}
                            if notice.files
                                .level: .level-left
                                    each file in notice.files
                                        .level-item(style='margin-right: 1rem;')
                                            a.button(href=file.link, style='background: #f5f5f5')
                                                .media-left
                                                    span.icon
                                                        i.fa.fa-file(arai-hidden='true')
                                                .media-content: .content
                                                    p= file.name
                        .media-right
                            span.icon
                                i.fa.fa-thumb-tack(aria-hidden='true')
            else
                .box
                    article.media
                        .media-left
                            figure.image.is-64x64
                                img(src='/logo.png')
                        .media-content
                            .content
                                p
                                    strong 관리자 
                                    small= notice.time
                                    br
                                    | #{notice.message}
append script
    script(src='/index.bundle.js')
